* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #0d0d13, #121418);
    color: #ffffff;
}

/* Container */
.container {
    width: 85%;
    margin: auto;
    padding: 40px 0;
}

/* Header */
header {
    background-color: #24242589;
    padding: 15px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #e94560;
}

/* Hero Section */
.hero {
    text-align: center;
}

.name {
    font-size: 32px;
    margin: 10px 0;
    color: #20971a;
}

.role {
    margin-bottom: 20px;
    font-size: 18px;
}

.introduction {
    background-color: #25242499;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    border-color: aliceblue;
}

/* Section */
.section {
    margin-top: 40px;
}

.section h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #e94560;
}

/* Grid Layout */
.grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Cards */
.card {
    background-color: #2c2e2f16;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

/* Contact Form */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input,
.contact-form textarea {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #e94560;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form button:hover {
    background-color: #ff2e63;
}

/* Footer */
footer {
    background-color: #29292b58;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
}